<% include ./partials/header %>
<h1>Index Page</h1>

<% blogs.forEach(function(blog) { %>
    <div>
        <h2><%= blog.title %></h2>
        <span><%= blog.created %></span>
        <p><%= blog.body.substring(0, 5)%>..</p>
        <a href="/blogs/<%= blog._id %>">link</a>
    </div>
<% }); %>
<% include ./partials/header %>